@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/marcinpl87-library/dist/style";

.drag-and-drop {
    display: flex;
    justify-content: space-between;
    ul {
        font-family: monospace;
        list-style-type: none;
        background-color: lightgrey;
        width: 400px;
        padding: 8px;
        &.dragging-over {
            background-color: lightblue;
        }
        li {
            font-size: 13px;
            line-height: 13px;
            text-align: left;
            color: black;
            border-radius: 5px;
            user-select: none;
            padding: 16px;
            margin: 0 0 8px 0;
            &:hover {
                background-color: grey;
            }
            &.dragging {
                background-color: lightgreen;
                rotate: 3deg;
            }
        }
        &:first-child li {
            display: inline-flex;
            align-items: center;
            background-color: white;
            border: 1px solid black;
            margin: 5px;
            padding-left: 4px;
            svg {
                margin-right: 10px;
                font-size: 0.6rem;
            }
            &.dragging {
                background-color: lightgreen;
            }
        }
        &:nth-child(2) li {
            padding-top: 4px;
            padding-bottom: 4px;
            white-space: pre;
            margin: 0;
        }
    }
}
